@font-face {
  font-family: 'yangjin';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/yangjin/yangjin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/yangjin/yangjin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/yangjin/yangjin.ttf') format('truetype');
}
